@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* Add this in your global CSS file (e.g., index.css or App.css) */
.epr-category-nav {
  display: flex !important;
  overflow-x: auto !important;
  scrollbar-width: thin; /* Firefox */
}

.epr-category-nav::-webkit-scrollbar {
  height: 6px; /* small scrollbar */
}

.epr-category-nav::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
.gradient{
  background-color: #EFE7F6;
 box-shadow: 0 -23px 25px 0 rgba(191, 162, 225, 0.17) inset, 0 -36px 30px 0 rgba(204, 180, 227, 0.15) inset, 0 -79px 40px 0 rgba(204, 180, 227, 0.10) inset, 0 2px 1px 0 rgba(204, 180, 227, 0.06), 0 4px 2px 0 rgba(204, 180, 227, 0.09), 0 8px 4px 0 rgba(204, 180, 227, 0.09), 0 16px 8px 0 rgba(204, 180, 227, 0.09), 0 32px 16px 0 rgba(204, 180, 227, 0.09);
}